# =========================
# NODE / ANGULAR
# =========================

node_modules/
**/node_modules/

.angular/

dist/
**/dist/

# =========================
# .NET
# =========================

bin/
obj/

publish/
publish-api/
**/publish/
**/publish-api/

# =========================
# IDE
# =========================

.vs/
.vscode/

# =========================
# LOGS
# =========================

*.log

# =========================
# SISTEMA
# =========================

.DS_Store
Thumbs.db