AGENTE_NOMBRE=Agente IA
AGENTE_VERSION=0.3.0
AGENTE_ENTORNO=produccion
AGENTE_CANAL=telegram

OLLAMA_BASE_URL=http://192.168.1.131:11434
OLLAMA_MODEL=qwen3:4b

TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_USER_ID=

WHISPER_MODEL=small