# Agente
AGENT_NAME=agente_poker
APP_VERSION=0.1.0

# Poker
POKER_VARIANT=texas_holdem
DEFAULT_MODULE=spin_and_go

# Funcionamiento
APP_MODE=study
LOG_LEVEL=INFO

OPENAI_API_KEY=
OPENAI_VISION_MODEL=gpt-5