TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_USER_ID=
TELEGRAM_ALLOWED_USER_IDS=
TELEGRAM_TASK_APPROVER_USER_IDS=
TELEGRAM_NOTIFICATIONS_BOT_TOKEN=
TELEGRAM_NOTIFICATIONS_CHAT_ID=
TELEGRAM_NOTIFICATIONS_TTS_VOICE=es-ES-ElviraNeural
WHISPER_MODEL=small
AGENTEIA_CODEX_HOME=
AGENTEIA_CODEX_HOME_PLUS=
CODEX_MODEL=gpt-5.6-terra
CODEX_REASONING_EFFORT=none
CODEX_REASONING_LUNA=none
CODEX_REASONING_TERRA=none
CODEX_REASONING_SOL=medium
CONVERSATION_DATABASE_PATH=data/conversations.db
HOME_ASSISTANT_URL=http://homeassistant.local:8123
HOME_ASSISTANT_TOKEN=
HOME_ASSISTANT_NOTIFICATION_BRIDGE_ENABLED=false
HOME_ASSISTANT_FAMILY_CALENDAR_ENTITY_ID=calendar.familia_millan_romero
HOME_ASSISTANT_SHOPPING_LIST_HOME=todo.casa
HOME_ASSISTANT_SHOPPING_LIST_JESSI=todo.casa_jessi
